# Proprocessing
This script is used for (1)merging raw datasets, (2) recode, and (3) split train and test sets:
- manual coding: *Data_FixedCodingMistakes_noICR_ReadyForAnalysis.csv*
- comments scraped from social media:
    - Youtube: *RE__cleaned_and_prepared_data/topic_youtube_comments_and_posts_ALL_strat_sample_orderbyMB_ReadyForCoding.xlsx* 
    and *youtube_general_subsample2_n850.xlsx*
    - Twitter: *Twitter_full-text-merged-with-comments_n300pergenre.xlsx*

The additional variables aggregated from manual coding:
- Incivility (general)
- Hate speech

16/08/2023
@Arya Liao

In [1]:
import pandas as pd
import numpy as np

## Import data

In [2]:
comment_info = ['ID','commentText','Mark_ID','showName','genre','Time_comment','likeCount_comment']
twitter_infoname = ['entities','user_info_Twitter','user_id','place','retweet_count','platform',
                    'retweeted','language','source','in_reply_to_status_id_str',
                    'in_reply_to_user_id_str','in_reply_to_screen_name','is_quote_status']
topic_youtube_infoname = ['videoTitle','description','Time_video','channelTitle','channelId','viewCount',
                          'dislikeCount_video','likeCount_video','date_difference',
                          'commentCount_video','replyCount_comment','topic','subscribers','language']
youtube_infoname = ['videoTitle', 'channelId','replyCount_comment','description','Time_video']

rename the inconsistent names

In [3]:
twitter_rename = {'id_str_x':'ID','tekst (of comment)':'commentText','twitter_name':'showName','created_at':'Time_comment',
                 'favorite_count':'likeCount_comment','user (check: name and screen_name)':'user_info_Twitter','lang':'language'}
topic_youtube_rename = {'commentId':'ID','publishDate':'Time_video','publishTime':'Time_comment','likeCount_x':'likeCount_video',
                       'likeCount_y':'likeCount_comment','dislikeCount':'dislikeCount_video','commentCount':'commentCount_video',
                       'replyCount':'replyCount_comment','topic_x':'topic'}
youtube_rename = {'commentId':'ID','publishDate':'Time_video','publishTime':'Time_comment','likeCount_y':'likeCount_comment',
                 'replyCount':'replyCount_comment'}

In [4]:
twitter = pd.read_excel('data/Raw_data/Twitter_full-text-merged-with-comments_n300pergenre.xlsx',dtype=str).rename(
    columns = twitter_rename).reset_index(drop=True)[comment_info+twitter_infoname]
topic_youtube = pd.read_excel('data/Raw_data/topic_youtube_comments_and_posts_ALL_strat_sample_orderbyMB_ReadyForCoding.xlsx',dtype=str).rename(
    columns = topic_youtube_rename).reset_index(drop=True)[comment_info+topic_youtube_infoname]
youtube = pd.read_excel('data/Raw_data/youtube_general_subsample2_n850.xlsx',dtype=str).rename(
    columns = youtube_rename).reset_index(drop=True)[comment_info+youtube_infoname]

combined = pd.concat([twitter,topic_youtube,youtube], ignore_index=True, sort=False)
combined = combined.drop_duplicates('ID')
combined

,ID,commentText,Mark_ID,showName,genre,Time_comment,likeCount_comment,entities,user_info_Twitter,user_id,...,channelTitle,channelId,viewCount,dislikeCount_video,likeCount_video,date_difference,commentCount_video,replyCount_comment,topic,subscribers
0,808838186814341000,@TuckerCarlson kudos on new show! Enjoy the de...,1000002,TuckerCarlson,Opinionated news,2016-12-14,0,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'id': 3316977828, 'id_str': '3316977828', 'na...",800220990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,860149705690370000,@TuckerCarlson @KTHopkins Muslims are the reli...,1000003,TuckerCarlson,Opinionated news,2017-05-04,0,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'id': 816970642067050496, 'id_str': '81697064...",9.971781921412137e+17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1109990177701850000,@colbertlateshow @GayleKing This is just a rem...,1000004,colbertlateshow,News satire,2019-03-25,3,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'id': 798107076316852228, 'id_str': '79810707...",261294778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1145709920836190000,@TheDailyShow Dude in high school I took Germa...,1000005,TheDailyShow,News satire,2019-07-01,0,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'id': 2467985318, 'id_str': '2467985318', 'na...",56792595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,876979329091211000,@TuckerCarlson Why bother with the jerk?,1000006,TuckerCarlson,Opinionated news,2017-06-20,0,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'id': 523694282, 'id_str': '523694282', 'name...",4716019936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4433,UgzrVAm6umba3TeBbsd4AaABAg,Need more storytellers like her on late night....,17627,Late Show with Colbert,Satire,2018-04-27T08:05:36.000Z,718,NaN,NaN,NaN,...,NaN,UCMtFAi84ehTSYSE9XoHefig,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
4434,UgxL7az3pr7ETHOPJhN4AaABAg,"I thought ""iPhone battery"" would mean ""explosi...",108928,Late Night with Seth Meyers,Satire,2018-01-24T10:36:01.000Z,2,NaN,NaN,NaN,...,NaN,UCVTyTA7-g9nopHeHbeuvpRA,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN
4435,Ugznr_O5DqC78x-hZS54AaABAg,dad?,151339,Patriot Act with Hasan Minhaj,Satire,2019-04-28T22:02:10.000Z,0,NaN,NaN,NaN,...,NaN,UCarEovlrD9QY-fy-Z6apIDQ,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
4436,UgyHoA_0MoBQJAjzNwp4AaABAg,No lies detected tho ðŸ¤·ðŸ¿,92101,Anderson Cooper 360 (CNN),Opinionated news,2018-05-15T00:56:58.000Z,1,NaN,NaN,NaN,...,NaN,UCupvZG-5ko_eiXAupbDfxWw,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
4437,UgzogKXL2aBIAwmHsux4AaABAg.8pi0KRbmsA48pmqZRlZeZj,@Sean F : Bull crap. You pay a measley extra $...,101437,60 Minutes,News,2019-01-07T03:11:58.000Z,3,NaN,NaN,NaN,...,NaN,UCsN32BtMd0IoByjJRNF12cw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
comments = pd.read_csv('data/Raw_data/Data_FixedCodingMistakes_noICR_ReadyForAnalysis.csv')

## Merge

In [6]:
whole = comments.merge(combined.drop(columns='Mark_ID'), how = 'left', on = 'ID')
whole.head()

,StartDate,RecordedDate,IPAddress,Finished,Coder,ID,Mark_ID,Genre,topiccode,Platform,...,channelTitle,channelId,viewCount,dislikeCount_video,likeCount_video,date_difference,commentCount_video,replyCount_comment,topic,subscribers
0,5/30/2021 13:03:17,5/30/2021 13:04:17,62.194.51.29,1,6,UgyPHwv8G0cDE6-wEgl4AaABAg.8_0ZjJKSJty8_0kXGkAd2U,119,0,0,1,...,NaN,UCaXkIU1QidjPwiAYu6GcHjg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10/11/2021 10:34:05,10/11/2021 10:36:46,213.127.109.191,1,6,Ugx2WXq9UdV8mPPjejJ4AaABAg.8yHCKV0Boe58yYRxEQEF45,282,1,2,1,...,Fox News,UCXIJgqnII2ZOINSWNOGFThA,203221,195,3817,743,1748,NaN,economy,3630000
2,9/9/2021 18:49:48,9/9/2021 18:51:32,213.127.110.0,1,6,1110578710648890000,372,2,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6/6/2021 16:12:46,6/6/2021 16:16:16,213.127.76.145,1,6,UgwUPFScjJ0MCeaP2F54AaABAg.8lvp3fc9Euf8lvvgsUgEgV,769,0,0,1,...,NaN,UCaXkIU1QidjPwiAYu6GcHjg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6/13/2021 13:25:49,6/13/2021 13:27:28,213.127.82.232,1,6,UgwWKCWtSJdFvjGHvTp4AaABAg.8kUC5dGrQ2H8kUDRihE2f3,1206,0,0,1,...,NaN,UCaXkIU1QidjPwiAYu6GcHjg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Fix missing comment text

In [7]:
missing_data = whole[whole['commentText'].isnull() == True]
missing_data[['ID','Mark_ID','Genre','topiccode','Platform','showName','genre']]

,ID,Mark_ID,Genre,topiccode,Platform,showName,genre
1638,Ugxf6ZYFRmJQBj2yO3J4AaABAg.8vmK3B0IwUU8vmNc3Ou...,2000299,1,2,1,NaN,NaN
1837,Ugww4PZKmAro40-hJPR4AaABAg.8XqU1DG6EG-8Xs6Vb14...,2000501,2,3,1,NaN,NaN

In [8]:
# comments = pd.read_csv('data/Raw_data/Data_FixedCodingMistakes_noICR_ReadyForAnalysis.csv')
for index,miss in missing_data.iterrows():
    ID = combined[combined['Mark_ID'] == str(miss['Mark_ID'])]
    comments.loc[index, 'ID'] = ID.loc[ID.index.tolist()[0],'ID']
    
whole = comments.merge(combined.drop(columns='Mark_ID'), how = 'left', on = 'ID')
whole.head()

,StartDate,RecordedDate,IPAddress,Finished,Coder,ID,Mark_ID,Genre,topiccode,Platform,...,channelTitle,channelId,viewCount,dislikeCount_video,likeCount_video,date_difference,commentCount_video,replyCount_comment,topic,subscribers
0,5/30/2021 13:03:17,5/30/2021 13:04:17,62.194.51.29,1,6,UgyPHwv8G0cDE6-wEgl4AaABAg.8_0ZjJKSJty8_0kXGkAd2U,119,0,0,1,...,NaN,UCaXkIU1QidjPwiAYu6GcHjg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10/11/2021 10:34:05,10/11/2021 10:36:46,213.127.109.191,1,6,Ugx2WXq9UdV8mPPjejJ4AaABAg.8yHCKV0Boe58yYRxEQEF45,282,1,2,1,...,Fox News,UCXIJgqnII2ZOINSWNOGFThA,203221,195,3817,743,1748,NaN,economy,3630000
2,9/9/2021 18:49:48,9/9/2021 18:51:32,213.127.110.0,1,6,1110578710648890000,372,2,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6/6/2021 16:12:46,6/6/2021 16:16:16,213.127.76.145,1,6,UgwUPFScjJ0MCeaP2F54AaABAg.8lvp3fc9Euf8lvvgsUgEgV,769,0,0,1,...,NaN,UCaXkIU1QidjPwiAYu6GcHjg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6/13/2021 13:25:49,6/13/2021 13:27:28,213.127.82.232,1,6,UgwWKCWtSJdFvjGHvTp4AaABAg.8kUC5dGrQ2H8kUDRihE2f3,1206,0,0,1,...,NaN,UCaXkIU1QidjPwiAYu6GcHjg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
missing_data = whole[whole['commentText'].isnull() == True]
missing_data[['ID','Mark_ID','Genre','topiccode','Platform','showName','genre']]

Empty DataFrame
Columns: [ID, Mark_ID, Genre, topiccode, Platform, showName, genre]
Index: []

## Recoding

### aggregated variables

In [10]:
incivility = ['Name_calling', 'Vulgarity', 'Attack_reputation', 
                'Question_Intelligenc', 'All_caps_function', 'Sarcasm_to_criticize',
              'Individual_right', 'discrimination', 'Invoke_violence']
hate_list_focus = ['Name_calling', 'Vulgarity','Individual_right', 'discrimination', 'Invoke_violence']

In [11]:
for i, row in whole.iterrows():
    whole.loc[i, 'INCIVILITY_DUMMY'] = int(row[incivility].max()>0)
    whole.loc[i, 'HATELIST_FOCUSED_DUMMY'] = int(row[hate_list_focus].max()>0)
whole['HATELIST_FOCUSED_DUMMY'] = whole['HATELIST_FOCUSED_DUMMY'].astype(int)
whole['INCIVILITY_DUMMY'] = whole['INCIVILITY_DUMMY'].astype(int)

### recode date and hashtags

In [12]:
for index,row in whole.iterrows():
    whole.loc[index,'Time_comment_year'] = row['Time_comment'][0:4]
    try:
        whole.loc[index,'Time_video_year'] = row['Time_video'][0:4]
    except:
        pass
    try:
        hashtags = ast.literal_eval(row['entities'])['hashtags']
        if len(hashtags) > 0:
            whole.loc[index,'Hashtags'] = ''
            for hashtag in hashtags:
                whole.loc[index,'Hashtags'] = whole.loc[index,'Hashtags']+'#'+hashtag['text']
        whole.loc[index,'Source_clean'] = re.findall(r'Twitter .+</a>', row['source'])[0][8:-4]
    except:
        pass

In [13]:
whole

,StartDate,RecordedDate,IPAddress,Finished,Coder,ID,Mark_ID,Genre,topiccode,Platform,...,dislikeCount_video,likeCount_video,date_difference,commentCount_video,replyCount_comment,topic,subscribers,HATELIST_FOCUSED_DUMMY,Time_comment_year,Time_video_year
0,5/30/2021 13:03:17,5/30/2021 13:04:17,62.194.51.29,1,6,UgyPHwv8G0cDE6-wEgl4AaABAg.8_0ZjJKSJty8_0kXGkAd2U,119,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2017,2017
1,10/11/2021 10:34:05,10/11/2021 10:36:46,213.127.109.191,1,6,Ugx2WXq9UdV8mPPjejJ4AaABAg.8yHCKV0Boe58yYRxEQEF45,282,1,2,1,...,195,3817,743,1748,NaN,economy,3630000,0,2019,2019
2,9/9/2021 18:49:48,9/9/2021 18:51:32,213.127.110.0,1,6,1110578710648890000,372,2,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2019,NaN
3,6/6/2021 16:12:46,6/6/2021 16:16:16,213.127.76.145,1,6,UgwUPFScjJ0MCeaP2F54AaABAg.8lvp3fc9Euf8lvvgsUgEgV,769,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2018,2018
4,6/13/2021 13:25:49,6/13/2021 13:27:28,213.127.82.232,1,6,UgwWKCWtSJdFvjGHvTp4AaABAg.8kUC5dGrQ2H8kUDRihE2f3,1206,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2018,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3857,8/19/2021 14:50:13,8/19/2021 14:54:28,62.194.51.29,1,6,1152219467579100000,10000695,0,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2019,NaN
3858,8/19/2021 15:10:27,8/19/2021 15:12:21,62.194.51.29,1,6,1085362296472430000,10007008,1,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2019,NaN
3859,10/6/2021 16:08:39,10/6/2021 16:10:42,213.127.113.113,1,6,UghFY3QJ6nmT_ngCoAEC.7-H0Z7--wxd8goqpaPs-bl,20000102,0,3,1,...,2820,12475,3803,4785,NaN,east,6740000,0,2018,2010
3860,10/15/2021 18:30:04,10/15/2021 18:35:40,213.127.109.191,1,6,UgyWabsmmnq3zam4DgZ4AaABAg,20000418,2,3,1,...,118,31761,1531,2206,0,east,6800000,0,2018,2015
3861,11/19/2021 17:49:17,11/19/2021 17:51:04,213.127.109.191,1,6,UgwPOHIDyICm10k0Mvx4AaABAg,20001003,0,3,1,...,1358,5740,2276,2887,1,east,549000,0,2018,2018

### Save to .csv and .dta

In [14]:
whole.to_csv('data/full_data.csv',index=False)

In [15]:
list_remove = []
for v in whole.columns:
    trydf = whole[[v,'ID']]
    try:
        trydf.to_stata('try.dta')
    except:
        list_remove.append(v)
list_remove.remove('ID')
list_remove

/Users/liaoyufang/opt/anaconda3/lib/python3.9/site-packages/pandas/io/stata.py:2397: InvalidColumnName:
Not all pandas column names were valid Stata variable names.
The following replacements have been made:

    filter_$   ->   filter__

If this is not what you expect, please make sure you have Stata-compliant
column names in your DataFrame (strings only, max 32 characters, only
alphanumerics and underscores, no Stata reserved words)

  warnings.warn(ws, InvalidColumnName)

['commentText',
 'entities',
 'user_info_Twitter',
 'place',
 'source',
 'videoTitle',
 'description']

In [16]:
df4stata = whole.drop(columns = list_remove)
df4stata.to_stata('data/full_data.dta')

## Split

In [17]:
def get_split_index(number, ratio = 0.8):
    np.random.seed(123)
    train_index = np.random.choice(number, size = int(number*0.8), replace = False)
    train_index.sort()
    test_index = [i for i in range(number) if i not in train_index]
    return train_index, test_index

In [18]:
train_index, test_index = get_split_index(len(whole))
train_set = whole.loc[train_index,:]
test_set = whole.loc[test_index,:]

train_set.to_csv(f'data/train.csv',index=False)
test_set.to_csv(f'data/test.csv',index=False)

print(len(train_index), len(test_index))
print(test_index)

3089 773
[1, 3, 6, 8, 14, 16, 17, 22, 32, 34, 39, 46, 47, 53, 60, 70, 73, 77, 82, 88, 89, 93, 96, 99, 105, 106, 111, 113, 126, 133, 135, 139, 146, 149, 158, 180, 181, 191, 194, 197, 199, 213, 214, 217, 225, 231, 232, 238, 247, 248, 255, 259, 262, 264, 268, 271, 281, 287, 288, 290, 293, 295, 321, 322, 323, 325, 329, 330, 340, 341, 342, 355, 358, 359, 361, 366, 371, 378, 389, 390, 400, 405, 407, 411, 412, 413, 416, 424, 434, 438, 441, 442, 443, 445, 451, 454, 455, 460, 464, 480, 481, 488, 494, 495, 506, 508, 514, 530, 532, 538, 540, 544, 545, 549, 552, 555, 557, 575, 581, 583, 588, 596, 604, 607, 609, 612, 622, 625, 629, 635, 639, 640, 660, 662, 665, 669, 672, 677, 686, 687, 695, 703, 713, 719, 731, 744, 745, 750, 755, 757, 762, 763, 765, 766, 768, 771, 788, 789, 794, 808, 819, 821, 826, 836, 837, 843, 844, 845, 851, 855, 859, 862, 867, 872, 874, 880, 881, 885, 886, 889, 892, 904, 908, 913, 915, 919, 920, 922, 924, 931, 936, 940, 942, 950, 964, 979, 992, 997, 998, 1007, 1013, 1030, 1038, 1054, 1061, 1062, 1070, 1086, 1088, 1092, 1093, 1100, 1104, 1105, 1110, 1111, 1112, 1118, 1122, 1128, 1132, 1133, 1139, 1140, 1146, 1147, 1150, 1153, 1154, 1159, 1160, 1161, 1168, 1210, 1211, 1218, 1221, 1222, 1229, 1230, 1231, 1235, 1242, 1243, 1246, 1248, 1249, 1254, 1257, 1258, 1271, 1277, 1282, 1301, 1305, 1312, 1314, 1321, 1325, 1326, 1328, 1329, 1336, 1343, 1346, 1355, 1363, 1365, 1367, 1378, 1381, 1382, 1388, 1389, 1398, 1401, 1406, 1418, 1425, 1427, 1434, 1435, 1437, 1438, 1439, 1442, 1443, 1447, 1452, 1454, 1474, 1475, 1490, 1494, 1498, 1507, 1508, 1510, 1513, 1514, 1517, 1520, 1521, 1524, 1530, 1534, 1537, 1543, 1545, 1546, 1550, 1551, 1554, 1555, 1557, 1558, 1564, 1568, 1583, 1593, 1594, 1602, 1607, 1626, 1635, 1639, 1647, 1649, 1650, 1651, 1656, 1662, 1666, 1669, 1675, 1684, 1699, 1704, 1709, 1719, 1731, 1734, 1741, 1749, 1755, 1759, 1760, 1761, 1764, 1766, 1767, 1771, 1783, 1784, 1789, 1792, 1794, 1795, 1799, 1819, 1825, 1836, 1838, 1847, 1861, 1871, 1873, 1875, 1877, 1879, 1888, 1890, 1891, 1896, 1897, 1902, 1914, 1922, 1931, 1944, 1953, 1956, 1966, 1968, 1969, 1981, 1988, 1989, 1990, 1991, 1992, 1994, 1996, 2004, 2009, 2010, 2011, 2017, 2018, 2019, 2022, 2023, 2027, 2031, 2040, 2043, 2046, 2050, 2056, 2072, 2073, 2077, 2080, 2086, 2099, 2106, 2108, 2137, 2140, 2149, 2154, 2159, 2161, 2166, 2169, 2173, 2174, 2185, 2188, 2191, 2201, 2206, 2213, 2216, 2222, 2227, 2231, 2240, 2241, 2250, 2255, 2263, 2268, 2270, 2272, 2286, 2289, 2296, 2301, 2302, 2313, 2338, 2341, 2344, 2359, 2360, 2378, 2381, 2385, 2387, 2388, 2395, 2397, 2398, 2407, 2408, 2409, 2412, 2414, 2418, 2425, 2428, 2431, 2446, 2449, 2450, 2467, 2468, 2470, 2473, 2478, 2480, 2482, 2483, 2486, 2487, 2490, 2495, 2507, 2512, 2513, 2515, 2519, 2521, 2523, 2525, 2528, 2532, 2533, 2541, 2543, 2544, 2551, 2552, 2557, 2563, 2564, 2566, 2567, 2574, 2578, 2585, 2587, 2592, 2599, 2605, 2607, 2610, 2611, 2620, 2621, 2622, 2624, 2625, 2637, 2640, 2641, 2644, 2649, 2654, 2656, 2657, 2666, 2677, 2679, 2682, 2684, 2686, 2696, 2697, 2700, 2706, 2709, 2712, 2713, 2721, 2723, 2741, 2747, 2751, 2761, 2764, 2766, 2768, 2778, 2788, 2793, 2795, 2799, 2800, 2805, 2810, 2817, 2818, 2819, 2822, 2829, 2838, 2839, 2843, 2844, 2847, 2852, 2854, 2856, 2863, 2866, 2871, 2878, 2880, 2884, 2892, 2894, 2900, 2917, 2932, 2936, 2937, 2944, 2945, 2947, 2948, 2949, 2964, 2969, 2974, 2989, 2991, 2999, 3003, 3005, 3007, 3025, 3026, 3031, 3034, 3047, 3051, 3054, 3064, 3072, 3078, 3080, 3082, 3084, 3086, 3089, 3091, 3092, 3095, 3099, 3101, 3111, 3116, 3121, 3122, 3128, 3132, 3133, 3135, 3137, 3139, 3143, 3148, 3153, 3155, 3167, 3174, 3178, 3184, 3187, 3198, 3200, 3213, 3214, 3224, 3226, 3230, 3245, 3248, 3251, 3252, 3257, 3258, 3259, 3261, 3273, 3278, 3280, 3286, 3287, 3288, 3295, 3296, 3305, 3306, 3308, 3310, 3314, 3316, 3323, 3325, 3328, 3329, 3331, 3334, 3337, 3343, 3358, 3365, 3373, 3377, 3379, 3382, 3384, 3387, 3390, 3393, 3396, 3402, 3405, 3406, 3409, 3414, 3423, 3429, 3437, 3454, 3457, 3460, 3465, 3470, 3472, 3473, 3475, 3477, 3481, 3491, 3494, 3504, 3505, 3512, 3517, 3530, 3531, 3536, 3537, 3544, 3552, 3565, 3568, 3574, 3579, 3582, 3593, 3594, 3597, 3612, 3617, 3623, 3626, 3631, 3634, 3642, 3654, 3667, 3671, 3679, 3687, 3691, 3694, 3699, 3700, 3702, 3712, 3714, 3717, 3719, 3726, 3739, 3747, 3750, 3753, 3754, 3760, 3781, 3785, 3786, 3791, 3793, 3799, 3805, 3812, 3814, 3816, 3818, 3820, 3828, 3839, 3844, 3847, 3853, 3858]